ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  overflow: hidden;
}

h1 {
  color: red;
}

.jumbotron {
  margin-top: 25px;
  background-image: url('/resources/img/tracks2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.animalDiv {

}

.list {
  text-align: left;
  float: left;
  margin: 1%;
  width: 23%;
  height: 150px;
}
