h1 {
  color: #bc9236;
}

.jumbotron {
  margin-top: 25px;
  background-image: url('/resources/img/tracks2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.animalDiv {
  width: 1000px;
}

.list {
  text-align: left;
  float: left;
  margin: 1%;
  width: 23%;
  height: 150px;
}

nav ul {
  height:400px;
  width:100%;
}

nav ul {
  overflow:hidden;
  overflow-y:scroll;
}
